:where(.wp-block) {margin-top: 0; margin-bottom: 0;}
.wp-block-column {flex-grow: 1; flex-basis: 0;}
.wp-block-column.is-vertically-aligned-center {align-self: center;}
.wp-block-columns {
    margin: var(--spacer-vert) auto;
    max-width: var(--max-width);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}
.wp-block-columns .wp-block-columns {margin-top: 0; margin-bottom: 0;}
.wp-block-columns.alignfull,
:where(.wp-block)[data-align="full"],
:where(.wp-block)[data-align="full"] > div {
    max-width: none;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
:where(.wp-block)[data-align="full"] > div div {margin-left: auto; margin-right: auto;}
.wp-block-columns.is-layout-flex {gap: var(--column-gap);}
.wp-block-columns + .wp-block-columns {margin: var(--spacer-vert) auto var(--spacer-vert) auto;}

.wp-block-columns .wp-block-columns {padding-left: 0; padding-right: 0;}
.wp-block-columns.alignfull > .wp-block-columns, .wp-block-columns.alignfull > .wp-block-column,  .wp-block-columns.alignfull > .wp-block-column > .wp-block-columns {padding-left: var(--spacer); padding-right: var(--spacer);}

.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {max-width: var(--max-width);}
.wp-block-group {margin-top: var(--spacer-vert);margin-bottom: var(--spacer-vert);}
.wp-block-group + .footer {margin-top: calc(var(--spacer-vert) * -1);}

.wp-block-group.box:first-of-type {margin-top: 0;}
#content .wp-block-group:last-of-type {margin-bottom: 0;}

.wp-block-cover, .wp-block-cover-image {margin-top: var(--spacer-vert); margin-bottom: var(--spacer-vert); padding: var(--spacer-vert) 0;}
.wp-block-cover .wp-block-cover__inner-container .wp-block-columns:last-of-type {margin-bottom: 0;}

// .wp-block-post-content {max-width: 900px; margin-left: auto; margin-right: auto;}
/* WIDE DESKTOP */
@media (min-width: 1200px) {
}
.wpcf7-select {
    &.voicemail-select, &.contact-select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 5px;
        resize: vertical;
    }
}
.regarding-checkboxes {
    span.wpcf7-list-item{
        width: 100%;
        margin: 0; 
    }
}