.icon-item {display: grid; grid-template-columns: 1fr 5fr; gap: .5rem; height: 100%;}
.icon-item .fa {width: 50px; height: 50px; background: var(--primary); color: var(--secondary); display: grid; align-items: center; text-align: center; border-radius: 50%; font-size: 1.25rem;}
.icon-item .is-style-callout {margin: 0 0 .25rem 0;}
.icon-item h3 {margin: 0 0 .5rem 0;}

.icon-item.box {display: block; background: var(--primary); color: #fff; padding: 35px; border-radius: 15px; box-shadow: var(--box-shadow-sm);}
.icon-item.box h3 {color: #fff; font-weight: 700; font-size: 1.5rem;}
.icon-item.box img {margin: 0 0 2rem 0; max-width: 65px;}
.icon-item.box .wp-block-button.is-style-btn-text .wp-block-button__link {color: var(--secondary); text-decoration-color: var(--secondary);}

/* TABLET */
@media (min-width: 768px) {
    .icon-item.box { padding: 20px;}
    .icon-item.box h3 {font-size: 1.20rem;}
} 
/* WIDE DESKTOP */
@media (min-width: 1200px) {
    .icon-item.box { padding: 35px;}
    .icon-item.box h3 {font-size: 1.5rem;}
}