/* Page Headers */
.page-hdr {position: relative; z-index: 5;}
.page-hdr figure {position: absolute; inset: 0; background: var(--richblack); margin: 0; overflow: hidden;}
.page-hdr figure img {width: 100%; height: 100%; object-fit: cover; opacity: .25;}
.page-hdr .content {padding: 50px var(--spacer); text-align: center; position: relative; z-index: 5;}
.page-hdr .content h1 {margin:1.5rem 0 0.5rem 0; color: #fff;}

/* Breadcrumb */
.page-hdr .breadcrumb-nav {display: flex; justify-content: center; align-items: center; padding: 0; margin: 0; font-size: 1rem; letter-spacing:.5px; color: var(--secondary); list-style: none;}
.page-hdr .breadcrumb-nav a {color: var(--text-color-inverse);}
.page-hdr .breadcrumb-nav a:hover {text-decoration: underline;}
.page-hdr .breadcrumb-nav span {display: flex; gap: 5px; flex-wrap: wrap; justify-content: center;}

@media (min-width:768px) {
    .page-hdr .content h1 {margin: 0 0 1rem 0; color: #fff;}
}
       
/* WIDE DESKTOP */
@media (min-width:992px){
    
.page-hdr .content {padding: 250px var(--spacer) 125px var(--spacer);}
}
 