.blog-list-item {display: grid; gap: 15px; padding: 25px 0; border-bottom: 1px dotted #ccc;}
.date {font-size: .85rem; font-weight: 700; color: var(--accent-2); text-transform: uppercase; margin: 0; letter-spacing: 1px;}
.blog-list-item .text {align-content: flex-start;}
.blog-list-item h2 {font-size: 2rem; font-family: var(--body); line-height: 1.2; letter-spacing: normal; margin: .5rem 0 1rem 0;}
.blog-list-item h2 a {color: var(--text); text-decoration: none;}
.blog-list-item h2 a:hover {text-decoration: underline;}
.blog-list-item figure img {border-radius: 10px;}

#pagination {font-size: 1rem; justify-content: center; display: flex; margin: 2rem 0 0 0;}
#pagination li:before {display: none;}
#pagination a {color: var(--primary);}
#pagination .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.blog-hdr {text-align: center; padding: var(--spacer-vert) 0; margin: var(--fixed-header-height) 0 var(--spacer-vert) 0; border-bottom: 1px solid #ccc;}
.blog-hdr h1 {margin: 1rem 0 2rem 0;}
.blog-content {font-size: 1.15rem; line-height: 1.6;}
.blog-share {text-align: center; padding: var(--spacer-vert) 0; margin: var(--spacer-vert) 0; border-top: 1px solid #ccc;}
.social-share {
  text-align:center;
  list-style:none;
  display:flex;
  padding:0;
  margin:1rem 0;
  justify-content:center
}
.social-share i {
  text-align:center;
  font-size:2.15rem;
  padding:5px
}
.social-share a:hover {color: var(--accent-2);}
/* TABLET */
@media (min-width: 768px) {
  .blog-list-item {grid-template-columns: 1.5fr 3fr; gap: 2rem;}
} 

/* WIDE DESKTOP */
@media (min-width: 992px) {
  .blog-hdr .is-style-lead {font-size: 1.5rem;}
}