/* GLOBAL */
#hdr-site {position: relative; z-index: 10; box-shadow: var(--box-shadow-sm);}
#logo {display: block; max-width: 150px;}
#menu ul {list-style: none; padding: 0; margin: 0;}
#menu ul a {color: #fff; text-decoration: none; display: block; padding: 1rem; font-weight: 700; position: relative; text-transform: uppercase;}

/* ONLY MOBILE */
@media (max-width: 991px) {
#hdr-site {background:#102646;}
#hdr-main {display: grid; grid-template-columns: auto 35px; padding: 1rem 0; align-items: center;}

/* Menu Toggle */
#menu-toggle {font-size:.65rem; letter-spacing: 0.5px; text-transform: uppercase; background: none; padding: 0; margin: 0; border: none;  font-weight: 700; color: var(--text-color-inverse); width: 35px; height: 40px; position: relative;}
#menu-toggle > div {position: absolute; width: 100%; height: 100%; top: 0; left: 0; transition: var(--transition);}
#menu-toggle .closed {display: flex; flex-direction: column; gap: 4px;}
#menu-toggle .closed .bar {width: 100%; height: 3px; background: var(--secondary); display: block;}
#menu-toggle .open .bar {width: 100%; height: 3px; transform: rotate(45deg); background: var(--secondary); display: block; transform-origin: center;position: absolute;left: 0;top: 46%;}
#menu-toggle .open .bar:nth-last-of-type(2) {transform: rotate(-45deg)}
#menu-toggle.collapsed .open {opacity: 0; visibility: hidden; top: -5px;}
#menu-toggle.collapsed .closed {opacity: 1; visibility: visible; top: 0;}
#menu-toggle .open {opacity: 1; visibility: visible; top: 0;}
#menu-toggle .closed {opacity: 0; visibility: hidden; top: 5px;}

/* Menu Collapse */
#menu .btn-expand {position: absolute; right: 0; top: 0; height: auto; border: none; background: none; color: var(--secondary); padding: 1rem;}
.collapsed {height: 0;overflow: hidden;-webkit-transition-delay: 0.2s;transition-delay: 0.2s;transition: height 0.2s ease;}
.show {height: auto;}

/* Menu Links */
#menu ul a {border-top: 1px dotted rgba(255,255,255,.25);}
#menu ul a:hover, #menu ul a:focus {background: rgba(0,0,0,.1);}
#menu .wp-block-button__link {margin: 1rem 0;}
#menu li {position: relative;}
#menu ul ul a {border: none; padding: 10px 20px 10px 30px; font-weight: 400;}
#menu ul ul li:last-of-type {margin-bottom: 1rem;}
} /* END ONLY MOBILE */

/* DESKTOP */
@media (min-width: 992px) {
#hdr-site {position: fixed; width: 100%; top: 0; box-shadow: none; border-top: 4px solid var(--primary); border-bottom: 1px solid rgba(255,255,255,.1); transition: var(--transition);}
#hdr-site.scroll, #hdr-site.scrolled {box-shadow: var(--box-shadow-sm); background: var(--richpurple);}
#logo {display: block; max-width: 190px; position: relative; top: -25px;}
#menu-toggle {display: none;}
.hdr-desktop {display: flex; justify-content: space-between; align-items: center;}
#menu {display: flex; align-items: center;}
#menu ul {display: flex;}
#menu ul a {padding: 2.15rem .65rem; font-size: .85rem; letter-spacing: .5px;}

/* Header CTA Button */
#menu .wp-block-button__link {margin-left: 1rem; background: #fff; color: var(--primary);}
#menu .wp-block-button__link:hover {background: var(--primary); color: #fff;}

/* Dropdown */
#menu .btn-expand {display: none;}
#menu ul li {position: relative;}
#menu ul ul {position: absolute; flex-direction: column; background: #fff; box-shadow: var(--box-shadow-sm); width: 250px; padding: 1rem; left: calc(50% - 125px); top: 105%; transition: var(--transition); opacity: 0; visibility: hidden; border-radius: 10px;}
#menu ul ul a {font-weight: 700; padding: 10px; color: var(--text-color); text-transform: none; letter-spacing: normal; border-bottom: 2px dotted var(--secondary);}
#menu ul ul li:last-of-type a {border: none;}
#menu li:hover ul {opacity: 1; visibility: visible; top: 100%;}

/* Hovers & Active */
#menu ul > li:hover > a {color: var(--secondary);}
#menu > ul > li:hover > a:after {width: 100%; left: 0; opacity: 1;}
#menu ul ul a:hover {color: var(--richblack); padding: 10px 5px 10px 15px; background: var(--light);}
}

/* Wordpress Nav Active State */
#menu ul .current-page-ancestor > a,
#menu ul .current-menu-item > a,
#menu ul .current-menu-item > a {
    font-weight: 700;
    color: var(--secondary);
}
#menu ul .current-page-ancestor ul .current-menu-item > a {color: var(--secondary);}

@media (min-width:768px) {
 #menu ul .current-page-ancestor ul .current-menu-item > a {color: var(--primary);}
    }
    
/* WIDE DESKTOP */
@media (min-width: 1200px) {
}

/* SUPER WIDE DESKTOP */
@media (min-width: 1500px) {
}