.testimonial {position: relative; padding: 0 0 0 65px;}
.testimonial:before {content: "\f10d";font-family: FontAwesome; color: var(--accent-1); background: var(--primary); font-size: 1.25rem; width: 40px; height: 40px; padding: 0 11px; border-radius: 50%; display: block; display: flex; justify-content: center; flex-direction: column; position: absolute; left: 0; top: 0;}
.testimonial:after {position: absolute; left: 18px; bottom: 0; height: calc(100% - 60px); background: #ccc; width: 1px; content: ""; display: block;}
.testimonial .quote {font-size: 1.25rem;}
.testimonial .author {font-weight: 700;}

.testimonial.full-width {text-align: center; padding: 125px 0 75px 0;}
.testimonial.full-width p {max-width: 800px; margin: 0 auto 1rem auto;}
.testimonial.full-width:before {left: calc(50% - 20px); z-index: 5; top: 50px;}
.testimonial.full-width:after {width: 150px; height: 1px; left: calc(50% - 75px); top: 70px; z-index: 3;}